/* Custom CSS */

/* vertical centering*/
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}

/* common styles */
body {
    background: #ecf0f1;
}
.messages {
    max-width: 960px;
    margin: 0 auto;
}
.field-error {
    border: 1px solid tomato !important;
}
.todo {
    background:  #FFB6C1;
}
.doing {
    background:  #ADD8E6;
}
.done {
    background: #90EE90;
}
.expired {
    background: #cccccc !important;
}
.breadcrumb .active a {
    color: #424242;
    font-weight: 700;
}
.ajax-loader {
    display: block;
    width: 100%;
    text-align: center;
}
.new-task {
    margin-right: 10px;
}
.danger {
    border: 1px solid tomato !important;
}
.navbar-brand {
    text-transform: none;
}
.color-help {
    position: absolute;
    bottom: 50px;
}
.color-help span {
    padding: 3px 5px;
    margin: 0 3px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
        -ms-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}
/* structural styles */
#tasks {
    margin-bottom: 50px;
}
#page {
    max-width: 960px;
    margin: 15px auto;
    background: #ffffff;
    -webkit-box-shadow: 0 0 10px #cccccc;
       -moz-box-shadow: 0 0 10px #cccccc;
        -ms-box-shadow: 0 0 10px #cccccc;
         -o-box-shadow: 0 0 10px #cccccc;
            box-shadow: 0 0 10px #cccccc;
}
.wrapper {
    padding: 15px 25px;
    min-height: 600px;
    position: relative;
}
.authbox {
    width: 300px;
    margin: 0 auto;
    padding: 5px 25px 15px;
    background: #ffffff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
        -ms-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 10px #cccccc;
       -moz-box-shadow: 0 0 10px #cccccc;
        -ms-box-shadow: 0 0 10px #cccccc;
         -o-box-shadow: 0 0 10px #cccccc;
            box-shadow: 0 0 10px #cccccc;
}
#page-footer {
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
    height: 50px;
    padding: 15px;
    border-top: 1px solid #dddddd;
}
