{% extends 'website/templates/base.html'%}
{% load widget_tweaks %}

{% block container %}
<div class="outer">
<div class="middle">
<div class="inner">
    <div class="authbox">
        {% if messages %}
            <div class="messages"><br>
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <small>{{ message }}</small>
                </div>
                {% endfor %}
            </div >
        {% endif %}
        <h3 align="center">
            <span class="glyphicon glyphicon-calendar"></span>
            Simple Todo
        </h3>
        {% if form.errors %}
            Invalid username or password
        {% endif %}
        
        {% with WIDGET_ERROR_CLASS='field-error' %} 
        <form action="" method="POST"> {% csrf_token %}
                {% render_field form.username class+='form-control' placeholder='Username' %}<br>
                {% render_field form.password class+='form-control' placeholder='Password' %}<br>
                <input class="btn btn-primary btn-block" type="submit" value="Login"> <br>
            </form>
        {% endwith %}
        <p>
            Need an account? <a href="{% url 'user_register' %}">Register Now!</a>
        </p>
    </div> <!-- .authbox -->

</div>
</div>
</div>
{% endblock %}
