{% extends 'website/templates/base.html'%}
{% load widget_tweaks %}

{% block container %}
<div class="outer">
<div class="middle">
<div class="inner">
    <div class="authbox">
        <h3 align="center">
            <span class="glyphicon glyphicon-calendar"></span>
            Simple Todo
        </h3>
        {% if form.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <small>Please fill carefully and try again.</small>
            </div>
        {% endif %}
        
        {% with WIDGET_ERROR_CLASS='field-error' %} 
        <form action="" method="POST"> {% csrf_token %}
                {% render_field form.first_name class+='form-control' placeholder='First Name' %}<br>
                {% render_field form.last_name class+='form-control' placeholder='Last Name' %}<br>
                {% render_field form.username class+='form-control' placeholder='Username' %}<br>
                {% render_field form.password1 class+='form-control' placeholder='Password' %}<br>
                {% render_field form.password2 class+='form-control' placeholder='Re-type Password' %}<br>
                <input class="btn btn-primary btn-block" type="submit" value="Register"> <br>
            </form>
        {% endwith %}
        <p>
            Already have an account? <a href="{% url 'user_login' %}">Login Now!</a>
        </p>
    </div> <!-- .authbox -->

</div>
</div>
</div>
{% endblock %}
